<p>List of albums</p>
<div style=" overflow: auto; height: 500px;">
<div *ngFor="let data of albums" >
    <a (click)="selectedAlbum(data.url)" style="cursor: pointer;"> <img src="{{data.thumbnailUrl}}"></a>
 </div>
</div>
 <modal #myModal>
    <!-- <modal-header>
        Modal header content goes there.
    </modal-header> -->
 
    <modal-content>
        <img src="{{url}}">
    </modal-content>
 
    <modal-footer>
        <button class="btn btn-primary" (click)="closeModal()">close</button>
    </modal-footer>
</modal>
