<div class="row">
<div class="column">
    <div *ngFor="let data of dataUsers">
       <a (click)="selectedUser(data.userId)" style="cursor: pointer;"> {{data.title}}</a><br>
    </div>
</div>
<div class="" style="padding-left: 55%; padding-top: 0;" *ngIf="selectedUserId">
    
         <a (click)="gotoUrl('albums')" style="color: red; cursor: pointer;">Albums</a><br>
    <a  (click)="gotoUrl('posts')" style="color: blue; cursor: pointer;">Posts</a>
    
    <router-outlet></router-outlet>
</div>
</div>
