<p>List of posts</p>
<div *ngFor="let data of posts">
    <a (click)="selectedPost(data)" style="cursor: pointer;"> {{data.title}}</a>
 </div>
 <modal #myModal>
    <!-- <modal-header>
        Modal header content goes there.
    </modal-header> -->
 
    <modal-content>
        <label>id   :</label>
        <input type="text" [(ngModel)]="id"/>
        <label>title   :</label>
        <input type="text" [(ngModel)]="title"/><br>
        <label>body</label>
        <input type="text" [(ngModel)]="body"/>
        <label>userId</label>
        <input type="text" [(ngModel)]="userid"/>
    </modal-content>
 
    <modal-footer>
        <button class="btn btn-primary" (click)="updatePosts()">edit</button>
        <button class="btn btn-primary" (click)="closeModal()">close</button>
    </modal-footer>
</modal>
